@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>iCARESystem</h1>
    <p class="lead">iCARE.</p>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("DocumentMetadata", "Index", "DocumentMetadatas")</h2>
        <p>
            Document Metadata Information.
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("DrugsDictionary", "Index", "DrugsDictionaries")</h2>
        <p>DrugsDictionaries Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("GeoCode", "Index", "GeoCodes")</h2>
        <p>GeoCodes.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("iCAREAdmin", "Index", "iCAREAdmins")</h2>
        <p>iCAREAdmin.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("iCAREUser", "Index", "iCAREUsers")</h2>
        <p>iCAREUsers.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("iCAREWorker", "Index", "iCAREWorkers")</h2>
        <p>iCAREWorkers.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("ModificationHistoy", "Index", "ModificationHistories")</h2>
        <p>ModificationHistories.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("PatientRecord", "Index", "PatientRecords")</h2>
        <p>PatientRecords.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("TreatmentRecord", "Index", "TreatmentRecords")</h2>
        <p>TreatmentRecords.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("UserPassword", "Index", "UserPasswords")</h2>
        <p>UserPasswords.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("UserRole", "Index", "UserRoles")</h2>
        <p>UserRoles.</p>
    </div>


</div>